* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #9a6a1c;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, #f0ddb7, #ad884c);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

body img {
  border-radius: 8px;
}

main {
  transition: all 0.7s ease-in-out;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  height: 6vh;
  display: flex;
  justify-content: space-between;
}

.player-points,
.wonder-stats,
#other-players,
.other-player-stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.player-points {
  height: 40%;
}

#other-players {
  height: 50px;
}

#player-wonder {
  height: 250px;
  width: 600px;
  z-index: 999;
}

#left-neighbour,
#right-neighbour {
  width: 283px;
  z-index: 999;
}

#three-players {
  display: flex;
  height: 100%;
  width: 100%;
}

#player-placeholder {
  width: 69%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.neighbour {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.player-stats-header {
  padding: 0.2rem;
  width: 100%;
  height: 104px;
}

.cards img {
  position: absolute;
  z-index: calc(var(--z-index));
  bottom: calc(var(--index) * 50px);
  transition: 0.1s linear;
}

.cards img:hover {
  transform: translateY(-152px);
}

.cards > * {
  position: relative;
  z-index: -1;
  bottom: -150px;
}

.cards {
  z-index: -2;
  background-color: #9a6a1c;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  gap: 12px;
  padding: 6px;
}

.wonder-stats {
  height: 10%;
  width: 100%;
  align-self: flex-end;
  z-index: 999;
}

.png {
  height: 52.7%;
  aspect-ratio: 1;
}

p {
  text-transform: capitalize;
  font-size: 1rem;
}
#other-players > div {
  height: 100%;
  width: 250px;
}

.deck {
  transition: all 2s ease-in-out;
  height: 196px;
  width: 127px;
}
.other-player-stats {
  flex-direction: column;
  gap: 5px;
}

.deck > img {
  width: 126px;
  height: 196px;
  cursor: pointer;
}

#cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 157px;
}

.deck-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.actions-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
}

.actions-box > div img {
  width: 30px;
}

.disabled {
  opacity: 0.4;
}

.built-cards > div {
  height: 180px;
  width: 130px;
  position: relative;
  bottom: -20px;
}

.built-cards > div > img {
  position: absolute;
  width: 129px;
  transform: translateY(calc(var(--index) * -40px));
  z-index: calc(var(--z-index));
  transition: 0.1s linear;
}

.first-col,
.second-col {
  width: 126px;
  height: 200px;
}

.first-col > img {
  height: 196px;
  width: 126px;
}

.second-col > img {
  height: 196px;
  width: 126px;
}

.wonder,
.others-wonder {
  position: relative;
  width: 100%;
  height: 200px;
  bottom: -230px;
}

.wonder-placeholder > img {
  box-shadow: 0px 11px 11px 0px rgba(0, 0, 0, 0.55);
}

.wonder-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.actions-box {
  background-color: white;
  border-radius: 4px;
  z-index: 99;
  padding: 20px;
}

.actions-box > div {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

.wonder-stats {
  background-color: #ddb35b;
}

.other-player-stats > .player-stats-header > * {
  background-color: #9a6a1c;
  z-index: 999;
}

.other-player-stats > * {
  flex-grow: 1;
}
.other-player-stats img {
  width: 40px;
  height: 40px;
}

.other-player-stats {
  width: 350px;
  height: 200px;
}

.other-player-stats {
  text-transform: capitalize;
  color: #ddb35b;
  font-size: 1.5rem;
}

.other-player-stats :last-child {
  color: white;
}

.player-points {
  font-size: 1.4rem;
  padding: 10px;
}

.player-stats-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ddb35b;
}

.hovered {
  scale: 1.1;
  z-index: 5;
}

#cards-container {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

#cards-container {
  position: relative;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck {
  --rotate: calc(var(--index) * 10deg);
  --offset-x: calc(var(--index) * 100px);
  --offset-y: calc(var(--index) * var(--index) * 8px);
  position: absolute;
  transform: translateX(var(--offset-x)) translateY(var(--offset-y))
    rotateZ(var(--rotate));
  transform-origin: top center;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  gap: 10px;
}

.second-col {
  position: relative;
}

.second-col > * {
  position: absolute;
}
.neighbour {
  height: 80vh;
  align-self: flex-end;
}

.popup {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  background-color: #9a6a1c;
  color: #f0ddb7;
  border: 2px solid #f0ddb7;
  border-radius: 8px;
}

#age {
  backdrop-filter: blur(4px);
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 10000;
  transition: all 0.7s ease-in-out;
}

#age img {
  height: 50vh;
}

#age h1 {
  font-family: sans-serif;
  font-size: 20rem;
}

.waiting-window {
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;
  position: absolute;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  font-size: 2rem;
}

.blur {
  filter: blur(2px);
}

.conflict {
  display: none;
}

#player-name {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

.built-cards img:hover {
  transform: translateY(calc(var(--index) * -42px - 156px));
}

.hover-message {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  width: 180px;
  text-align: center;
  flex-shrink: 0;
  font-size: 0.8rem;
}

.conflict-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.conflict-Border {
  border: 3px solid #9a6a1c;
}

.conflict {
  background-color: #ddb35b;
  width: 550px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.img {
  width: 375px;
  height: 150px;
}

.conflict > * {
  display: flex;
  justify-content: center;
}

.top {
  justify-content: center;
  align-items: center;
}

hr {
  height: 2px;
  background-color: #9a6a1c;
  width: 100%;
}

.small {
  width: 50px;
  height: 50px;
}
.left-person,
.right-person {
  gap: 10px;
}

.points {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shield {
  height: 20px;
  width: 20px;
}

.other-shield {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.conflict-container {
  backdrop-filter: blur(4px);
  position: absolute;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.card:hover {
  transform: translateY(-140px) scale(1.05);
  z-index: 10;
}

img.reselect-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  left: calc(50% - 15px);
  bottom: -40px;
}

.staged-cards {
  position: absolute;
  height: 40%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  bottom: -10px;
}

.staged-cards div {
  position: relative;
  width: 130px;
  height: 200px;
}

.stage1 {
  left: 364px;
}

.stage2 {
  left: 364px;
}
.stage3 {
  left: 364px;
}

.staged-cards img {
  width: 130px;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
  border: 0.2px solid gray;
}

.stage-details > div,
.stage-details2 > div {
  display: flex;
  gap: 20px;
}

.stage-details > div > img,
.stage-details2 > div > img {
  width: 50px;
}

.stage-details > div > div,
.stage-details2 > div > div {
  display: flex;
  flex-direction: column;
}

.stage-details > div > div > img,
.stage-details2 > div > div > img {
  width: 30px;
}

#left-neighbour {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#left-neighbour .wonder-stats {
  border-bottom-right-radius: 10px;
}

#right-neighbour .wonder-stats {
  border-bottom-left-radius: 10px;
}

#left-neighbour .player-stats-header {
  border-top-right-radius: 10px;
}

#right-neighbour .player-stats-header {
  border-top-left-radius: 10px;
}

#right-neighbour {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.neighbour-stats {
  z-index: 1000;
  height: 100%;
  width: 368px;
  display: flex;
  flex-direction: column;
}

.stage-details {
  transition: all 0.7s ease-in-out;
  z-index: 998;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #ddb35b;
  padding: 30px;
  border: 4px solid #9a6a1c;
  transform: translateX(-3px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stage-details2 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.7s ease-in-out;
  z-index: 998;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #ddb35b;
  padding: 30px;
  border: 4px solid #9a6a1c;
  transform: translateX(3px);
}

.stage-details2 > div {
  flex-direction: row-reverse;
}

.open {
  display: flex;
  width: 2rem;
  height: 3rem;
  background-color: #9a6a1c;
}

.stage-details > div > img:last-child,
.stage-details2 > div > img:last-child {
  width: 63.3px;
}

.toggle,
.toggle2 {
  transition: all 0.7s ease-in-out;
  background-color: #9a6a1c;
  color: #ddb35b;
}

.hide {
  transform: translateX(-252px);
}

.hide2 {
  transform: translateX(252px);
}

.built-cards {
  width: 125%;
  display: flex;
  justify-content: flex-start;
  gap: 26px;
  position: absolute;
  left: 157.5px;
  flex-wrap: nowrap;
  bottom: 85px;
}

.built-cards > * {
  height: 180px;
  width: 135.3px;
  position: relative;
  bottom: -20px;
}

.stage1,
.stage2,
.stage3 {
  align-items: center;
}

.deck-placeholder {
  position: relative;
  z-index: 9999;
}

.toggle,
.toggle2 {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
}

.header p {
  position: relative;
  right: -20px;
}

.header .player-points {
  position: relative;
  left: -50px;
}

.dim {
  opacity: 0.4;
}

button > img {
  width: 30px;
  height: 30px;
  color: #ddb35b;
}

#right-neighbour-stats > .player-stats-header > div,
#right-neighbour-stats .wonder-stats {
  display: flex;
  flex-direction: row-reverse;
}

.other-player-stats {
  transition: all 0.7s ease-in-out;
  box-sizing: content-box;
  overflow: hidden;
  top: 55px;
  left: 25%;
  padding: 10px;
  position: absolute;
  z-index: 9999999;
  width: 51vw;
  height: 51vh;
  background-color: #9a6a1c;
  border: 10px solid #ddb35b;
  backdrop-filter: blur(5px);
}

.none {
  transform-origin: top;
  scale: 0;
}

.other-player-stats img {
  height: 200px;
}

.other-player-stats .built-cards {
  bottom: 411.4px;
  left: 0.4px;
  gap: 20.9px;
}

.other-player-stats .stage1,
.other-player-stats .stage2,
.other-player-stats .stage3 {
  left: 194px;
}
.other-player-stats .staged-cards {
  bottom: 165px;
}

.wonder-stats {
  cursor: pointer;
}
.trade-summary {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.trade-summary p {
  white-space: nowrap;
}

button {
  cursor: pointer;
}

.status {
  width: 28px;
}

.opponent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ddb35b;
  border-radius: 0 0 10px 10px;
}

.opponent img {
  width: 28px;
}

.selected-card {
  transition: all 0s ease-in-out !important;
  transform-origin: bottom center;
  --offset-x: calc(var(--index) * 90px);
  --offset-y: calc(var(--index) * var(--index) * 5px);
  position: absolute;
  transform: translateX(var(--offset-x)) translateY(var(--offset-y));
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  gap: 10px;
}

.hour-glass {
  position: relative;
  top: -8px;
}
