* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom center, #f0ddb7, #ad884c);
  overflow: hidden;
}
main {
  transition: all 0.7s ease-in-out;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  height: 6vh;
}

header,
.player-points,
.wonder-stats,
#other-players,
.other-player-stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.player-points {
  height: 40%;
}

#other-players {
  height: 20vh;
}

#player-wonder {
  height: 250px;
  width: 600px;
  z-index: 999;
}

#left-neighbour,
#right-neighbour {
  width: 15%;
  z-index: 999;
}

#three-players {
  display: flex;
  height: 100%;
  width: 100%;
}

#player-placeholder {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.neighbour {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.player-stats-header {
  padding: 0.2rem;
  width: 100%;
}

.cards img {
  position: absolute;
  z-index: calc(var(--z-index));
  bottom: calc(var(--index) * 50px);
  transition: 0.1s linear;
}

.cards img:hover {
  transform: translateY(-150px);
}

.cards > * {
  position: relative;
  z-index: -1;
  bottom: -150px;
}

.cards {
  z-index: -2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  height: 100%;
  width: 100%;
}

.wonder-stats {
  height: 10%;
  width: 100%;
  align-self: flex-end;
  z-index: 999;
}

.png {
  height: 90%;
  aspect-ratio: 1;
}

p {
  text-transform: capitalize;
}

.other-player-stats {
  flex-direction: column;
  gap: 5px;
}
.deck {
  width: 100px;
}

.deck img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 157px;
}

.deckPlaceHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.actionsBox > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
}

.actionsBox > div img {
  width: 30px;
}

.disabled {
  opacity: 0.4;
}

.buildedCards > * {
  height: 180px;
  width: 130px;
  position: relative;
  bottom: -20px;
}

.buildedCards > div > img {
  position: absolute;
  width: 100%;
  transform: translateY(calc(var(--index) * -42px));
  z-index: calc(var(--z-index));
  transition: 0.1s linear;
}

.first-col,
.second-col {
  width: 46%;
  height: 200px;
}

.first-col > img {
  height: 200px;
  width: 100%;
}

.second-col > img {
  height: 200px;
  width: 100%;
}

.buildedCards {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 27px;
}

.wonder {
  position: relative;
  width: 100%;
  height: 200px;
}

.wonder > #wonder-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -58%;
}

.actionsBox {
  background-color: white;
  border-radius: 4px;
  z-index: 99;
  padding: 20px;
}

.actionsBox > div {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

main img {
  border-radius: 5px;
}

.player-stats-header,
.wonder-stats {
  background-color: #ddb35b;
}

.neighbour > .cards {
  background-color: #9a6a1c;
}

.other-player-stats > .player-stats-header > * {
  background-color: #9a6a1c;
  z-index: 999;
}

.other-player-stats > * {
  flex-grow: 1;
}
.other-player-stats img {
  width: 40px;
  height: 40px;
}

.other-player-stats {
  width: 350px;
  height: 200px;
}

.other-player-stats {
  text-transform: capitalize;
  color: #ddb35b;
  font-size: 1.5rem;
}

.other-player-stats :last-child {
  color: white;
}

.player-points {
  font-size: 1.4rem;
}

.player-stats-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.player-stats-header {
  display: flex;
  gap: 10px;
}

.hovered {
  scale: 1.1;
  z-index: 5;
}

#cardsContainer {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

#cardsContainer {
  position: relative;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck {
  --rotate: calc(var(--index) * 6deg);
  --offset-x: calc(var(--index) * 80px);
  --offset-y: calc(var(--index) * var(--index) * 5px);
  position: absolute;
  transform: translateX(var(--offset-x)) translateY(var(--offset-y))
    rotateZ(var(--rotate));
  transform-origin: top center;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
  display: flex;
  gap: 10px;
}

.second-col {
  position: relative;
}

.second-col > * {
  position: absolute;
}

.popup {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  background-color: #9a6a1c;
  color: #f0ddb7;
  border: 2px solid #f0ddb7;
  border-radius: 8px;
}
#age {
  backdrop-filter: blur(4px);
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 10000;
  transition: all 0.7s ease-in-out;
}

#age img {
  height: 50vh;
}

#age h1 {
  font-family: sans-serif;
  font-size: 20rem;
}

.waiting-window {
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;
  position: absolute;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  font-size: 2rem;
}

.blur {
  filter: blur(2px);
}

.conflict {
  display: none;
}
#player-name {
  color: #9a6a1c;
  font-weight: 700;
  font-size: 1.5rem;
}

.buildedCards img:hover {
  transform: translateY(calc(var(--index) * -42px - 156px));
}

.hover-message {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  align-self: flex-end;
  flex-shrink: 0;
}

.conflictContainier {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conflict-Border {
  border: 3px solid #9a6a1c;
}
.conflict {
  background-color: #ddb35b;
  width: 550px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.img {
  width: 375px;
  height: 150px;
}
.conflict > * {
  display: flex;
  justify-content: center;
}
.top {
  justify-content: center;
  align-items: center;
}
hr {
  height: 2px;
  background-color: #9a6a1c;
  width: 100%;
}
.small {
  width: 50px;
  height: 50px;
}
.leftPerson,
.rightPerson {
  gap: 10px;
}
.points {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.shield {
  height: 20px;
  width: 20px;
}
#othershield {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.conflictContainer {
  backdrop-filter: blur(4px);
  position: absolute;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.card:hover {
  transform: translateY(-140px) scale(1.05);
  z-index: 10;
}
